<?xml version="1.0"?>
<config>
    <modules>
        <Spletnisistemi_Inquiry>
            <version>2.0.1</version>
        </Spletnisistemi_Inquiry>
    </modules>
    <global>
        <models>
            <inquiry>
                <class>Spletnisistemi_Inquiry_Model</class>
                <resourceModel>inquiry_mysql4</resourceModel>
            </inquiry>
            <inquiry_mysql4>
                <class>Spletnisistemi_Inquiry_Model_Mysql4</class>
                <entities>
                    <inquiry>
                        <table>order_inquiries</table>
                    </inquiry>
                </entities>
            </inquiry_mysql4>
        </models>
        <resources>
            <Inquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Inquiry_read>
            <Inquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Inquiry_write>
            <inquiry_setup>
                <setup>
                    <module>Spletnisistemi_Inquiry</module>
                    <class>Spletnisistemi_Inquiry_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inquiry_setup>
        </resources>
        <blocks>
            <inquiry>
                <class>Spletnisistemi_Inquiry_Block</class>
            </inquiry>
        </blocks>
        <helpers>
            <inquiry>
                <class>Spletnisistemi_Inquiry_Helper</class>
            </inquiry>
        </helpers>
        <template>
            <email>
                <send_inquiry_mail_template module="inquiry">
                    <file>send_inquiry_mail_template.html</file>
                    <type>html</type>
                </send_inquiry_mail_template>
            </email>
        </template>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <product_buy_type/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <inquiry>
                <use>standard</use>
                <args>
                    <module>Spletnisistemi_Inquiry</module>
                    <frontName>inquiry</frontName>
                </args>
            </inquiry>
        </routers>
        <translate>
            <modules>
                <Spletnisistemi_Inquiry>
                    <files>
                        <default>Spletnisistemi_Inquiry.csv</default>
                    </files>
                </Spletnisistemi_Inquiry>
            </modules>
        </translate>
        <layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <inquiry>
                <use>admin</use>
                <args>
                    <module>Spletnisistemi_Inquiry</module>
                    <frontName>inquiry</frontName>
                </args>
            </inquiry>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <inquiry module="inquiry">
                        <title>Inquiries</title>
                        <sort_order>60</sort_order>
                        <action>inquiry/adminhtml_inquiry/index</action>
                    </inquiry>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <inquiry module="inquiry">
                                    <title>Inquiries</title>
                                    <sort_order>60</sort_order>
                                </inquiry>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <inquiry>
                                            <title>Inquiry module</title>
                                        </inquiry>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Spletnisistemi_Inquiry>
                    <files>
                        <default>Spletnisistemi_Inquiry.csv</default>
                    </files>
                </Spletnisistemi_Inquiry>
            </modules>
        </translate>
    </adminhtml>
</config>
